@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*
font-family: 'Dancing Script', cursive;  
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rajdhani:wght@300;400;500&display=swap');

/*
font-family: 'Rajdhani', sans-serif;
*/

* { 
  padding: 0; 
  margin: 0; 
  box-sizing: 0; 
}

a { 
  text-decoration: none;
  color: black;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
 }
 a:hover{
  scale: 1.2;
  color: rgba(0, 0, 0, 0.726);
  text-shadow: 0 5px  5px  rgba(0, 0, 0, 0.246);
 }

 body{
  width: 100vw;
  height: auto;
 }

header{ 
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
}

.logo img{ 
  max-width: 7vw;
  min-width: 45px ;
  margin: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.516);
  border-radius: 50%;
}

nav{
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-right: 10px;
}

main{
  font-family: 'Rajdhani', sans-serif;
  display: flex;
  justify-content: space-evenly;
  width: 98vw;
  margin: auto;
}

main> img{
  width: 30%; 
  opacity: 60%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.519);
}

main> aside> p{
  text-align: left;
  margin-top: 40px;
  font-size: 22px;
}

main> aside> a{
  font-weight: 500;
  color: rgb(34, 34, 57);
  text-align: center;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 18px;
}
