@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*
font-family: 'Dancing Script', cursive;  
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rajdhani:wght@300;400;500&display=swap');

/*
font-family: 'Rajdhani', sans-serif;
*/

* { padding: 0; margin: 0; box-sizing: 0; }
a { 
  text-decoration: none;
  color: black;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
 }
 a:hover{
  scale: 1.2;
  color: rgba(0, 0, 0, 0.726);
  text-shadow: 0 5px  5px  rgba(0, 0, 0, 0.246);
 }

 body{
  width: 100vw;
  height: auto;
 }

header{ 
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
}

.logo img{ 
  max-width: 5vw;
  min-width: 45px ;
  margin: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.516);
  border-radius: 50%;
}

nav{
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-right: 10px;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr;
  width: 90vw;
  margin: auto;
  height: auto;
  gap: 20px;
}

main> div{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

main> div> img{
  width: 100%;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px;
}